<div class="container">

  <div class="ui-g">
    <div class="p-col-12">
      <h1>Lançamentos</h1>
    </div>

    <div class="p-col-12 p-fluid">
      <label>Descrição</label>
      <input pInputText type="text">
    </div>

    <div class="p-col-12">

      <label style="display: block">Vencimento</label>
      <input pInputText type="text" style="width: 95px; margin-right: 5px">

      <label>Até</label>
      <input pInputText type="text" style="width: 95px; margin-left: 5px">

    </div>

    <div class="p-col-12">
      <button pButton type="submit" label="Pesquisar"></button>
    </div>

    <div class="p-grid">
      <div class="p-col-12">
        <p-table [value]="lancamentos" [paginator]="true" [rows]="4" [responsive]="true" styleClass="p-datatable-sm">
          <ng-template pTemplate="header">
            <tr>
              <th [ngStyle]="{textAlign: 'center', width : '220px', padding: '5px'}">Pessoa</th>
              <th [ngStyle]="{textAlign: 'center', width : '220px'}">Descrição</th>
              <th [ngStyle]="{textAlign: 'center', width : '20px'}">Vencimento</th>
              <th [ngStyle]="{textAlign: 'center', width : '20px'}">Pagamento </th>
              <th [ngStyle]="{textAlign: 'center'}" class="col-valor-acao">Valor</th>
              <th [ngStyle]="{textAlign: 'center'}" class="col-valor-acao">Ação</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-lancamento>
            <tr>
              <td>{{ lancamento.pessoa }}</td>
              <td>{{ lancamento.descricao }}</td>
              <td [ngStyle]="{textAlign: 'center'}">{{ lancamento.dataVencimento }}</td>
              <td [ngStyle]="{textAlign: 'center'}">{{ lancamento.dataPagamento }}</td>
              <td [ngStyle]="{color: lancamento.tipo === 'DESPESA' ? 'red' : 'blue', textAlign: 'right'}">{{
                lancamento.valor }}</td>
              <td class="col-acoes">
                <a class="button-acoes" pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"></a>
                <button class="button-acoes" pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top" ></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>

    <div class="p-col-12">
      <a pButton type="submit" label="Novo Lançamento"></a>
    </div>


  </div>

</div>
